<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Login - SIPEFI</title>
    <link rel="stylesheet" href="{% static 'estilos/principal.css' %}">
    <link rel="shortcut icon" href="{% static 'imagenes/escudofi_negro.jpg' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap/css/bootstrap.min.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body style="padding-bottom: 0px !important;">
    {% block content %}{% endblock %}
</body>
</html>