<div id="tituloCapSoli" class="clearfix">
    <div>
        <h1>Captura de solicitud</h1>
        <h5>
            SIPEFI-<span id='numSolicitud'>xxxx</span>
            (<span id='estatusSoli'>-----</span><span class="esconder" id='idES'></span>)
        </h5>
    </div>

    <!-- Notificación de comentarios -->
    <div class="toast float-right notifComent esconder" data-autohide='false' role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-info">
            <strong class="mr-auto text-light">Notificaci&oacute;n de comentarios</strong>
            <button type="button" class="ml-2 mb-1 close text-light" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            La solicitud cuenta con comentarios,<br> favor de revisar/atender &eacute;stos.
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container contSections">
        <div class="nav flex-column nav-pills optionSections" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="menuTitulo text-white text-center py-3 px-2 shadow-sm">
			    <i class="fas fa-layer-group me-2"></i> TOMO II
			</div>
            <a class="nav-link active colorOS" id="s-1-tab" data-bs-toggle="pill" href="#s-1" role="tab" aria-controls="s-1" aria-selected="true">
                <strong><i class="fas fa-puzzle-piece"></i> Datos generales</strong>
            </a>
            <a class="nav-link colorOS" id="s-2-tab" data-bs-toggle="pill" href="#s-2" role="tab" aria-controls="s-2" aria-selected="false">
                <strong><i class="fas fa-book-open"></i> Temario</strong>
            </a>
            <a class="nav-link colorOS" id="s-3-tab" data-bs-toggle="pill" href="#s-3" role="tab" aria-controls="s-3" aria-selected="false">
                <strong><i class="fas fa-book"></i> Bibliograf&iacute;a</strong>
            </a>
            <a class="nav-link colorOS" id="s-4-tab" data-bs-toggle="pill" href="#s-4" role="tab" aria-controls="s-4" aria-selected="false">
                <strong><i class="fas fa-flask"></i> Estrategias y evaluaci&oacute;n</strong>
            </a>
            <a class="nav-link colorOS" id="s-comentarios-tab" data-bs-toggle="pill" href="#s-comentarios" role="tab" aria-controls="s-comentarios" aria-selected="false">
                <strong><i class="fas fa-comment-dots"></i> Comentarios</strong>
            </a>
            <div class="contenedor-cancelar mt-auto">
			    <button target="cancelarSolicitud" type="button" class="btn btn-danger esconder bCancelarSol" id="btnCancelar">
			        <strong><i class="fa-solid fa-file-circle-xmark"></i> Cancelar solicitud</strong>
			    </button>
			</div>
        </div>

        <div class="tab-content infoSections" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="s-1" role="tabpanel" aria-labelledby="s-1-tab">
                {% include "tomo_ii/Seccion_1.html" %}
            </div>
            <div class="tab-pane fade" id="s-2" role="tabpanel" aria-labelledby="s-2-tab">
                {% include "tomo_ii/Seccion_2.html" %}
            </div>
            <div class="tab-pane fade" id="s-3" role="tabpanel" aria-labelledby="s-3-tab">
                {% include "tomo_ii/Seccion_3.html" %}
            </div>
            <div class="tab-pane fade" id="s-4" role="tabpanel" aria-labelledby="s-4-tab">
                {% include "tomo_ii/Seccion_4.html" %}
            </div>
            <div class="tab-pane fade" id="s-comentarios" role="tabpanel" aria-labelledby="s-comentarios-tab">
                <div class="card">
                    <div class="card-header panelHeader">
                        <i class="fas fa-bars" style="color: white;"></i><strong> Comentarios de la solicitud</strong>
                    </div>
                    <div class="card-body" id="seccionComentarios">
                        <!-- Contenido de comentarios -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>